
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 12px;
}

.register-box {
  max-width: 400px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 1);
}

.register-logo {
  text-align: center;
  margin-bottom: 20px;
}

.register-logo img {
  width: 100px;
  height: auto;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-input {
  padding: 12px;
  margin-bottom: 16px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f3;
  font-size: 16px;
}

.register-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #007aff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}
